{% extends 'base.html' %}

{% block content %}
    {% url 'employees:search-employee' as search_employee %}

    <div class="row">
        <div class="col-lg-1 col-lg-offset-11">
            <a href="{{search_employee}}" class="btn btn-info">Back</a>
        </div>
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Publication date</th>
                        <th>Plates</th>
                    </tr>
                </thead>
                <tbody>
                    {% for menu in list_menus %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ menu.name|capfirst }}</td>
                            <td>{{ menu.day|date:"d-m-Y" }}</td>
                            <td><a href="{% url 'employees:list-plate-from-menu' menu.identifier %}" class="btn btn-primary">Look plates</a> </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">Empty list</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock%}